
.contactUSContent {
  position: relative;
  left: 0;
  top: 0;
  height: 745px;
}
.contactUSContent .aboutUs_leftSide {
  height: auto;
  width: 226px;
  float: left;
  margin: 26px 0 0 21px;
}
.contactUSContent .aboutUs_leftSide ul {
  border: 1px solid #d6d6d6;
  height: auto;
}
.contactUSContent .aboutUs_leftSide ul li {
  padding: 12px 0;
  border-bottom: 1px dashed #d6d6d6;
  font: 600 12px '';
  color: #828080;
}
.contactUSContent .aboutUs_leftSide ul li i {
  font-style: normal;
  cursor: pointer;
}
.contactUSContent .aboutUs_leftSide ul li i:hover {
  text-decoration: underline;
}
.contactUSContent .aboutUs_leftSide ul li img {
  float: left;
  margin-right: 20px;
}
.contactUSContent .aboutUs_leftSide ul .aboutUs_nav_title {
  background: #037cd9;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 0;
}
.contactUSContent .aboutUs_leftSide ul .aboutUs_nav_title span {
  margin-left: 20px;
}
.contactUSContent .aboutUs_contuct {
  width: 200px;
  height: 230px;
}
.contactUSContent .aboutUs_contuct h2,
.contactUSContent .aboutUs_contuct p {
  margin: 0 0 0 15px;
}
.contactUSContent .aboutUs_contuct h2 {
  color: #e53333;
  margin-top: 30px;
  font-weight: 400;
}
.contactUSContent .aboutUs_contuct p {
  margin-top: 10px;
  font-size: 14px;
  color: #605e5e;
}
.contactUSContent .aboutUs_rightSide {
  width: 740px;
  height: 430px;
  float: right;
  margin-top: 25px;
  margin-right: 37px;
}
.contactUSContent .aboutUs_rightSide img {
  float: left;
  margin-top: 3px;
}
.contactUSContent .aboutUs_rightSide h3 {
  border-bottom: 1px solid #b4b4b4;
  height: 30px;
  margin-top: 13px;
  font: 400 13px '';
}
.contactUSContent .aboutUs_rightSide h3 p {
  height: 100%;
  line-height: 30px;
  color: #605e5e;
}
.contactUSContent .aboutUs_rightSide h3 span {
  cursor: pointer;
}
.contactUSContent .aboutUs_rightSide h3 span:hover {
  text-decoration: underline;
}
.contactUSContent .aboutUs_rightSide > p:nth-child(2) {
  margin-top: 40px;
}
.contactUSContent .aboutUs_rightSide > p {
  margin-left: 20px;
  color: #3e3c3c;
  font-size: 21px;
}
.contactUSContent .aboutUs_rightSide .contactUS_erwei {
  clear: right;
}
.contactUSContent .aboutUs_rightSide .contactUS_erwei img {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 20px;
}
.contactUSContent .aboutUs_rightSide > p:last-child {
  float: left;
  margin-top: 7px;
}

