
.aboutUsContent {
  position: relative;
  left: 0;
  top: 0;
  height: 745px;
}
.aboutUsContent .aboutUs_leftSide {
  height: auto;
  width: 226px;
  float: left;
  margin: 26px 0 0 21px;
}
.aboutUsContent .aboutUs_leftSide ul {
  border: 1px solid #d6d6d6;
  height: auto;
}
.aboutUsContent .aboutUs_leftSide ul li {
  padding: 12px 0;
  border-bottom: 1px dashed #d6d6d6;
  font: 600 12px '';
  color: #605e5e;
}
.aboutUsContent .aboutUs_leftSide ul li img {
  float: left;
  margin-right: 20px;
}
.aboutUsContent .aboutUs_leftSide ul li i {
  font-style: normal;
  cursor: pointer;
}
.aboutUsContent .aboutUs_leftSide ul li i:hover {
  text-decoration: underline;
}
.aboutUsContent .aboutUs_leftSide ul .aboutUs_nav_title {
  background: #037cd9;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 0;
}
.aboutUsContent .aboutUs_leftSide ul .aboutUs_nav_title span {
  margin-left: 20px;
}
.aboutUsContent .aboutUs_contuct {
  width: 200px;
  height: 230px;
}
.aboutUsContent .aboutUs_contuct h2,
.aboutUsContent .aboutUs_contuct p {
  margin: 0 0 0 15px;
}
.aboutUsContent .aboutUs_contuct h2 {
  color: #e53333;
  margin-top: 30px;
  font-weight: 400;
}
.aboutUsContent .aboutUs_contuct p {
  margin-top: 10px;
  font-size: 14px;
  color: #605e5e;
}
.aboutUsContent .aboutUs_rightSide {
  width: 740px;
  height: 430px;
  float: right;
  margin-top: 25px;
  margin-right: 37px;
}
.aboutUsContent .aboutUs_rightSide img {
  float: left;
  margin-top: 3px;
}
.aboutUsContent .aboutUs_rightSide h3 {
  border-bottom: 1px solid #b4b4b4;
  height: 30px;
  margin-top: 13px;
  font: 400 13px '';
}
.aboutUsContent .aboutUs_rightSide h3 p {
  height: 100%;
  line-height: 30px;
   color:#666666;
}
.aboutUsContent .aboutUs_rightSide h3 span {
  cursor: pointer;

}
.aboutUsContent .aboutUs_rightSide h3 span:hover {
  text-decoration: underline;
}
.aboutUsContent .aboutUs_rightSide > p {
  font-size: 16px;
  margin: 0 20px;
  line-height: 20px;
  color: #444;
}
.aboutUsContent .aboutUs_rightSide > p a {
  color: #e53333;
  text-decoration: underline;
}
.aboutUsContent .aboutUs_rightSide > p:nth-child(2) {
  margin-top: 20px;
}
